.intestazione{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    height: 80px;
}

.logo{
    width: 10%;
}

.title-footer{
    color: grey;
}

.mark{
    color: lightskyblue;
    font-weight: bold;
}

.highlighted{
    background-color: yellow;
}

table{
    border-collapse: collapse;
}

.t1{
    width: 25%;
}

.t2{
    width: 25%;
}

.t3{
    width: 50%;
}

thead{
    background-color: #4EA0FF;
    color: white;
}

.line{
    background-color: lightblue;
}

h4{
    color: grey;
}

.text1{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: left;
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
}

.text2{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: left;
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
}